[MASTER]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    wildcard-import,
    unused-wildcard-import,
    unused-variable,
    line-too-long,
    invalid-name,
    bad-whitespace,
    too-many-branches,
    global-statement,
    too-many-statements,
    too-many-return-statements,
    no-else-return,
    redefined-outer-name
