export EDITOR='nvim'
export PAGER='less'
export SHELL='zsh'
export PATH="$PATH:/home/zds/.local/bin"
export INPUT_METHOD=fcitx5
export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
export XMODIFIERS="@im=fcitx5"
export QT_QPA_PLATFORMTHEME=qt5ct
export SOCKS_VERSION=5
export SOCKS_SERVER="127.0.0.1:1089"
export XDG_CURRENT_DESKTOP=i3
