priority -50

snippet func "Function" b
function ${1:function_name} (${2}) abort
	${3}
endfunction
endsnippet

snippet if "if" b
if ${1:condition}
	${2}
endif
endsnippet

snippet wh "while" b
while ${1}
	${2}
endwhile
endsnippet

snippet forr "for range" b
for ${1:i} in range($2)
	$3
endfor
endsnippet

snippet for "normal for" b
for ${1:elem} in ${2:list}
	$3
endfor
endsnippet

snippet gvar "Global / configuration variable" b
if !exists("g:${1:Value}")
	let g:$1 = $2
endif
endsnippet
